version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: publicpeople
      POSTGRES_DB: publicpeople
    volumes:
      - db-data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: Dockerfile-dev
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - DATABASE_URL=postgres://publicpeople@db/publicpeople
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db-data:
