{% extends "layout.html" %}

{% block title %}Public People{% endblock %}
{% block meta_title %}Public People{% endblock %}
{% block content %}

<p>Find people who are involved with running South Africa and learn about who they are.</p>

<form id="searchform" action="{% url 'person_list' %}" method="get" accept-charset="utf-8">
  <button class="searchbutton" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search" value="{{ q }}">
</form>

<h2>Persons</h2>

{% for result_item in object_list %}
<a href="{{ result_item.url }}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ result_item.obj.name }}</h3>
    </div>
    <div class="panel-body">
      {% if result_item.obj.current_memberships %}
      <p>Current memberships:</p>
      <ul>
        {% for membership in result_item.obj.current_memberships %}
        <li>{{ membership.role }} of {{ membership.organization.name }}</li>
        {% endfor %}
      </ul>

      {% elif result_item.obj.ended_memberships %}
      <p>Last memberships:</p>
      <ul>
        {% for membership in result_item.obj.ended_memberships|slice:":3" %}
        <li>{{ membership.role }} of {{ membership.organization.name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div><!-- end .panel-body -->
  </div><!-- end .panel -->
</a>
{% endfor %}


{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/?page={{ page_obj.previous_page_number }}&q={{ q|urlencode }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="/?page={{ page_obj.next_page_number }}&q={{ q|urlencode }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock %}
