{% extends "layout.html" %}

{% block title %}{{ person.name }} | Public People{% endblock %}
{% block content %}

<h2>{{ person.name }}</h2>
News matching "{{ name_query }}"

{% include 'snippets/pager.html' %}

{% for date_group in date_groups %}
<div>{{ date_group.date }}</div>

<ul>
  {% for event in date_group.events %}
  <li>
    {% if event.type == 'article' %}
    Mentioned in {{ event.article.collection.label }}
    <a href="{{ event.article.source_url }}">{{ event.article.title }}</a>
    {% else %}
    {{ event.type }}
    {{ event.membership.role }} of {{ event.membership.organization.name }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endfor %}

{% include 'snippets/pager.html' %}

{% endblock %}
