{% extends "layout.html" %}

{% block title %}{{ person.name }} | Public People{% endblock %}
{% block content %}

<h2>{{ person.name }}</h2>
News matching "{{ name_query }}"

<nav aria-label="...">
  <ul class="pager">
    {% if prev_url %}
    <li class="previous">
      <a href="{{ prev_url }}"><span aria-hidden="true">&larr;</span> Newer</a>
    </li>
    {% else %}
    <li class="previous disabled">
      <a><span aria-hidden="true">&larr;</span> Newer</a>
    </li>
    {% endif %}

    Page {{ page_number }} of {{ total_pages }}

    {% if next_url %}
    <li class="next">
      <a href="{{ next_url }}">Older<span aria-hidden="true">&rarr;</span></a>
    </li>
    {% else %}
    <li class="next disabled">
      <a>Older <span aria-hidden="true">&rarr;</span></a>
    </li>
    {% endif %}
  </ul>
</nav>

<ul>
  {% for event in events %}
  <li>
    {{ event.date|slice:":10" }} -
    {% if event.type == 'article' %}
    Mentioned in {{ event.article.collection.label }}
    <a href="{{ event.article.source_url }}">{{ event.article.title }}</a>
    {% else %}
    {{ event.type }}
    {{ event.membership.role }} of {{ event.membership.organization.name }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
