$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme.scss';

// put application-specific styles here

a .panel {
    color: #555;
}

.text-muted {
    font-size: 12px;
}

.person-page {
    .headshot {
        height: 178px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .person-name {
        text-align: center;
    }

    @media only screen and (min-width: 768px) {

        .person-identity {
            padding-bottom: 10px;
        }

        .headshot {
            display: inline;
            margin-left: default;
            margin-right: default;
        }

        .person-name {
            display: inline;
            text-align: left;
            padding-left: 16px;
        }

        .peoples-assembly-link {
            text-align: right
        }
    }
}

.person-search {
    .headshot {
        max-width: 64px;
    }

}

.credits {
    padding-top: 50px;
    font-size: 10px;
}


@import 'temp_beautify.scss';  // temporary beautifying css, to be removed with UI overhaul
